.contentManagementPage {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contentManagementNav {
    width: 200px;
    height: 100vh;

    border-right: 1px solid var(--color-background-dark);

    header {
        padding: 1rem;
        font-weight: 600;
    }

    .contentManagementNavList {
        list-style: none;

        padding: 1rem;
        padding-top: 0;
        margin: 0;

        li {
            width: 100%;
            border-radius: 5px;
            align-content: center;
            margin-bottom: 1rem;

            button {
                width: 100%;
                border: none;
                background-color: transparent;

                display: flex;
                align-items: center;
                gap: 0.2rem;

                cursor: pointer;
            }
        }

        li:hover {
            background-color: var(--color-secondary);
        }
    }
}

#contentManagementContent {
    width: calc(100% - 200px);
}