.clientsPage {
    padding: 1rem;
}

.clientsPageHeader {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
    }

    .clientsPageHeaderContent {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
            display: flex;
            align-items: center;
            font-size: medium;
        }
    }
}

.clientsTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-background-dark);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;

    thead {
        background-color: rgba(var(--color-background-dark-rgb), 0.4);
    }

    th,
    td {
        border: 1px solid rgba(var(--color-background-dark-rgb), 0.1);
        padding: 8px 10px;
    }

    td:last-of-type {
        text-align: center;
    }

    tbody>tr:nth-of-type(even) {
        background-color: rgba(var(--color-background-dark-rgb), 0.1);
    }
}

#clientsFormDialog {
    width: 100%;
    max-width: 500px;

    button {
        cursor: pointer;
    }

    .clientsFormContent {
        display: grid;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        height: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;

            button {
                display: flex;
                align-items: center;

                border: none;
                background-color: transparent;
            }
        }

        .clientsFormFields {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            label {
                display: flex;
                flex-direction: column;
            }
        }

        .clientsFormButtons {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            margin-top: 2rem;
        }
    }
}

#clientDeleteDialog {
    width: 100%;
    max-width: 400px;

    button {
        cursor: pointer;
    }

    .clientDeleteContent {
        display: grid;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        height: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;

            button {
                display: flex;
                align-items: center;

                border: none;
                background-color: transparent;
            }
        }

        .clientDeleteButtons {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            margin-top: 2rem;
        }
    }
}